<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="static/js/controls.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/app.css"/>
</head>
<body>
    <div class="content">
        <% if (!status.gpioEnabled) { %>
            <div class="warning">GPIO is not enabled. Functions like stop and reset are disabled.</div>
        <% } %>
        <div class="panel">
            <form>
                <div class="right">
                    <a href="javascript:" class="" id="refresh_status">Refresh</a>
                    <select name="refresh_interval" id="refresh_interval">
                        <option value="0">Never</option>
                        <option value="1">1s</option>
                        <option value="2">2s</option>
                        <option value="5" selected>5s</option>
                        <option value="10">10s</option>
                        <option value="30">30s</option>
                        <option value="60">60s</option>
                    </select>
                </div>
            </form>
            <div class="clear"></div>
        </div>
        <div class="panel">
            <form>
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">State</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Controller</td>
                            <td><span id="controller_state"><%= '' + status.controllerState %></span></td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Scope</td>
                            <td>
                                <span class="position-value" id="position_m1">
                                    <%- status.position[0] + (!isNaN(parseFloat(status.position[0])) ? '&deg;' : '') %>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Base</td>
                            <td>
                                <span class="position-value" id="position_m2">
                                    <%- status.position[1] + (!isNaN(parseFloat(status.position[1])) ? '&deg;' : '') %>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Limits Enabled</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Scope</td>
                            <td><span id="limitsEnabled_m1"><%= '' + status.limitsEnabled[0] %></span></td>
                        </tr>
                        <tr>
                            <td>Base</td>
                            <td><span id="limitsEnabled_m2"><%= '' + status.limitsEnabled[0] %></span></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    GPS:
                    lat = <span class="gps-coord" id="gps_lat"><%= '' + status.gpsCoords[0] %></span>,
                    long = <span class="gps-coord" id="gps_long"><%= '' + status.gpsCoords[1] %></span>
                </div>
                <div>
                    MAG:
                    heading = <span class="mag-heading" id="mag_heading"><%= '' + status.magHeading %></span>,
                    d.a. = <span class="" id="declination_angle"><%= '' + status.declinationAngle %></span>
                </div>
                <div>
                    ORI:
                    x = <span id="orientation_x"><%= '' + status.orientation[0] %></span>,
                    y = <span id="orientation_y"><%= '' + status.orientation[1] %></span>,
                    z = <span id="orientation_z"><%= '' + status.orientation[2] %></span>,
                    cal = <span id="is_orientation_calibrated"><%= '' + status.isOrientationCalibrated %></span>,
                    init = <span id="is_orientation_init"><%= '' + status.isOrientationInit %></span>
                </div>
            </form>
        </div>
        <div class="panel">
            <form>
                <div>
                    <a href="javascript:" class="gpio button <%= status.gpioEnabled ? 'red' : 'disabled' %>" id="gpio_controller_stop">Stop</a>
                </div>
                <table>
                    <tr>
                        <td><a href="javascript:" class="go button blue" id="home_1">Home Scope</a></td>
                        <td><a href="javascript:" class="go button blue" id="end_1">End Scope</a></td>
                    </tr>
                    <tr>
                        <td><a href="javascript:" class="go button blue" id="home_2">Home Base</a></td>
                        <td><a href="javascript:" class="go button blue" id="end_2">End Base</a></td>
                    </tr>
                    <tr>
                        <td><a href="javascript:" class="go button blue" id="home_all">Home All</a></td>
                        <td><a href="javascript:" class="go button blue" id="end_all">End All</a></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="panel">
            <form>
                <div>
                    <table>
                        <tr>
                            <td>&nbsp;</td>
                            <td><button class="go" id="go_up">&nbsp;up&nbsp;&nbsp;</button></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><button class="go" id="go_left">left</button></td>
                            <td>&nbsp;</td>
                            <td><button class="go" id="go_right">right</button></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><button class="go" id="go_down">down</button></td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <input type="text" class="howmuch" name="degrees" id="in_howmuch" value="1">
                    <select name="unit" id="in_units">
                        <option value="degrees">degrees</option>
                        <option value="steps">steps</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="panel">
            <form>
                <table>
                    <tr>
                        <td>
                            <select name="dir1" id="in_dir1">
                                <option value="1">up</option>
                                <option value="2">down</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="howmuch" name="howmuch1" id="in_howmuch1" value="1">
                        </td>
                        <td rowspan="2">
                            <select name="unit2" id="in_units2">
                                <option value="degrees">degrees</option>
                                <option value="steps">steps</option>
                            </select>
                        </td>
                        <td rowspan="2">
                            <div><button class="go" id="go_both">go</button></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="dir2" id="in_dir2">
                                <option value="1">right</option>
                                <option value="2">left</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="howmuch" name="howmuch2" id="in_howmuch2" value="1">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="panel">
            <form>
                <div>
                    <input type="text" name="raw" id="in_raw">
                    <button class="go" id="go_raw">Raw</button>
                    <a target="_blank" href="doc/commands">?</a>
                </div>
            </form>
        </div>
        <div class="panel">
            <form>
                <!-- <a href="javascript:" class="gpio button green" id="gpio_controller_state">State</a> -->
                <a href="javascript:" class="button <%= status.gaugerConnectedStatus.toLowerCase() %>" id="gauger_connected_status">
                    <%= status.gaugerConnectedStatus %>
                </a>
                <a href="javascript:" class="gpio button <%= status.gpioEnabled ? 'magenta' : 'disabled' %>" id="gpio_controller_reset">Reset Controller</a>
                <a href="javascript:" class="gpio button <%= status.gpioEnabled ? 'magenta' : 'disabled' %>" id="gpio_gauger_reset">Reset Gauger</a>
            </form>
        </div>
        <div class="panel">
            <h3>Request</h3>
            <div id="request_output" class="output json"></div>
            <h3>Response</h3>
            <div id="response_output" class="output json"></div>
            <a href="javascript:" class="button gray" id="clear_outputs">Clear</a>
        </div>
    </div>
</body>
</html>
