<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="static/js/controls.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/app.css"/>
</head>
<body>
    <div class="content">
        <% if (!status.gpioEnabled) { %>
            <div class="warning">GPIO is not enabled. Functions like stop and reset are disabled.</div>
        <% } %>
        <div class="panel">
            <form>
                <div class="right">
                    <a href="javascript:" class="" id="refresh_status">Refresh</a>
                    <select name="refresh_interval" id="refresh_interval">
                        <option value="0">Never</option>
                        <option value="1">1s</option>
                        <option value="2">2s</option>
                        <option value="5" selected>5s</option>
                        <option value="10">10s</option>
                        <option value="30">30s</option>
                        <option value="60">60s</option>
                    </select>
                </div>
            </form>
            <div class="clear"></div>
        </div>
        <div class="panel status-panel">
            <div class="left">
                <table class="status-table">
                    <thead>
                        <tr>
                            <th colspan="2">Controller State</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>State</td>
                            <td><span id="controller_state"><%= '' + status.controllerState %></span></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">Relative Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Scope</td>
                            <td>
                                <span class="position-value" id="position_m1">
                                    <%- helper.fixedSafe(status.position[0], 2) %>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Base</td>
                            <td>
                                <span class="position-value" id="position_m2">
                                    <%- helper.fixedSafe(status.position[1], 2) %>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">Limits Enabled</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Scope</td>
                            <td><span id="limitsEnabled_m1"><%= '' + status.limitsEnabled[0] %></span></td>
                        </tr>
                        <tr>
                            <td>Base</td>
                            <td><span id="limitsEnabled_m2"><%= '' + status.limitsEnabled[1] %></span></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">Limit Switch States</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Scope CW</td>
                            <td><span id="limitState_m1_cw"><%= '' + status.limitStates[0] %></td>
                        </tr>
                        <tr>
                            <td>Scope ACW</td>
                            <td><span id="limitState_m1_acw"><%= '' + status.limitStates[1] %></td>
                        </tr>
                        <tr>
                            <td>Base CW</td>
                            <td><span id="limitState_m2_cw"><%= '' + status.limitStates[2] %></td>
                        </tr>
                        <tr>
                            <td>Base ACW</td>
                            <td><span id="limitState_m2_acw"><%= '' + status.limitStates[3] %></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">Max Speeds</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Scope</td>
                            <td><span id="maxSpeed_m1"><%= '' + status.maxSpeeds[0] %></span></td>
                        </tr>
                        <tr>
                            <td>Base</td>
                            <td><span id="maxSpeed_m2"><%= '' + status.maxSpeeds[1] %></span></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">Accelerations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Scope</td>
                            <td><span id="acceleration_m1"><%= '' + status.accelerations[0] %></span></td>
                        </tr>
                        <tr>
                            <td>Base</td>
                            <td><span id="acceleration_m2"><%= '' + status.accelerations[1] %></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="left">
                <table class="status-table">
                    <thead>
                        <tr>
                            <th colspan="2">Scope Orientation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>isInit</td>
                            <td><span id="is_orientation_init"><%= '' + status.isOrientationInit %></span></td>
                        </tr>
                        <tr>
                            <td>x</td>
                            <td><span id="orientation_x"><%= helper.fixedSafe(status.orientation[0], 4) %></span></td>
                        </tr>
                        <tr>
                            <td>y</td>
                            <td><span id="orientation_y"><%= helper.fixedSafe(status.orientation[1], 4) %></span></td>
                        </tr>
                        <tr>
                            <td>z</td>
                            <td><span id="orientation_z"><%= helper.fixedSafe(status.orientation[2], 4) %></span></td>
                        </tr>
                        <tr>
                            <td>qw</td>
                            <td><span id="orientation_qw"><%= helper.fixedSafe(status.orientation[3], 4) %></span></td>
                        </tr>
                        <tr>
                            <td>qx</td>
                            <td><span id="orientation_qx"><%= helper.fixedSafe(status.orientation[4], 4) %></span></td>
                        </tr>
                        <tr>
                            <td>qy</td>
                            <td><span id="orientation_qy"><%= helper.fixedSafe(status.orientation[5], 4) %></span></td>
                        </tr>
                        <tr>
                            <td>qz</td>
                            <td><span id="orientation_qz"><%= helper.fixedSafe(status.orientation[6], 4) %></span></td>
                        </tr>
                        <tr>
                            <td>Temperature</td>
                            <td><span id="temperature"><%= '' + status.temperature %></span></td>
                        </tr>
                        <tr>
                            <td>Calibration</td>
                            <td><span id="orienation_calibration"><%= status.orientationCalibration.map(v => '' + v).join('|') %></span></td>
                        </tr>
                        <tr>
                            <td>isCalibrated</td>
                            <td><span id="is_orientation_calibrated"><%= '' + status.isOrientationCalibrated %></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="left">
                <table class="status-table">
                    <thead>
                        <tr>
                            <th colspan="2">Base Orientation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>isInit</td>
                            <td><span id="is_base_orientation_init"><%= '' + status.isBaseOrientationInit %></span></td>
                        </tr>
                        <tr>
                            <td>x</td>
                            <td><span id="base_orientation_x"><%= helper.fixedSafe(status.baseOrientation[0], 4) %></span></td>
                        </tr>
                        <tr>
                            <td>y</td>
                            <td><span id="base_orientation_y"><%= helper.fixedSafe(status.baseOrientation[1], 4) %></span></td>
                        </tr>
                        <tr>
                            <td>z</td>
                            <td><span id="base_orientation_z"><%= helper.fixedSafe(status.baseOrientation[2], 4) %></span></td>
                        </tr>
                        <tr>
                            <td>qw</td>
                            <td><span id="base_orientation_qw"><%= helper.fixedSafe(status.baseOrientation[3], 4) %></span></td>
                        </tr>
                        <tr>
                            <td>qx</td>
                            <td><span id="base_orientation_qx"><%= helper.fixedSafe(status.baseOrientation[4], 4) %></span></td>
                        </tr>
                        <tr>
                            <td>qy</td>
                            <td><span id="base_orientation_qy"><%= helper.fixedSafe(status.baseOrientation[5], 4) %></span></td>
                        </tr>
                        <tr>
                            <td>qz</td>
                            <td><span id="base_orientation_qz"><%= helper.fixedSafe(status.baseOrientation[6], 4) %></span></td>
                        </tr>
                        <tr>
                            <td>Temperature</td>
                            <td><span id="base_temperature"><%= '' + status.baseTemperature %></span></td>
                        </tr>
                        <tr>
                            <td>Calibration</td>
                            <td><span id="base_orienation_calibration"><%= status.baseOrientationCalibration.map(v => '' + v).join('|') %></span></td>
                        </tr>
                        <tr>
                            <td>isCalibrated</td>
                            <td><span id="is_base_orientation_calibrated"><%= '' + status.isBaseOrientationCalibrated %></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="left">
                <table class="status-table">
                    <thead>
                        <tr>
                            <th colspan="2">GPS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>isInit</td>
                            <td><span id="is_gps_init"><%= '' + status.isGpsInit %></span></td>
                        </tr>
                        <tr>
                            <td>Lat</td>
                            <td><span class="gps-coord" id="gps_lat"><%= helper.fixedSafe(status.gpsCoords[0], 6) %></span></td>
                        </tr>
                        <tr>
                            <td>Lon</td>
                            <td><span class="gps-coord" id="gps_long"><%= helper.fixedSafe(status.gpsCoords[1], 6) %></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="left">
                <table class="status-table">
                    <thead>
                        <tr>
                            <th colspan="2">Base Mag</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>isInit</td>
                            <td><span id="is_mag_init"><%= '' + status.isMagInit %></span></td>
                        </tr>
                        <tr>
                            <td>Heading</td>
                            <td><span class="mag-heading" id="mag_heading"><%= helper.fixedSafe(status.magHeading, 4) %></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="left">
                <table class="status-table">
                    <thead>
                        <tr>
                            <th colspan="2">Declination Angle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Declination (rad)</td>
                            <td><span class="" id="declination_angle"><%= '' + status.declinationAngle %></span></td>
                        </tr>
                        <tr>
                            <td>Declination source</td>
                            <td><span class="" id="declination_source"><%= '' + status.declinationSource %></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clear"></div>
        </div>
        <div class="panel">
            <form>
                <div>
                    <a href="javascript:" class="gpio button gpio_controller_stop <%= status.gpioEnabled ? 'red' : 'disabled' %>">Stop</a>
                </div>
                <table>
                    <tr>
                        <td><a href="javascript:" class="go button blue" id="home_1">Home Scope</a></td>
                        <td><a href="javascript:" class="go button blue" id="end_1">End Scope</a></td>
                    </tr>
                    <tr>
                        <td><a href="javascript:" class="go button blue" id="home_2">Home Base</a></td>
                        <td><a href="javascript:" class="go button blue" id="end_2">End Base</a></td>
                    </tr>
                    <tr>
                        <td><a href="javascript:" class="go button blue" id="home_all">Home All</a></td>
                        <td><a href="javascript:" class="go button blue" id="end_all">End All</a></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="panel">
            <form>
                <div>
                    <table>
                        <tr>
                            <td>&nbsp;</td>
                            <td><button class="go" id="go_up">&nbsp;up&nbsp;&nbsp;</button></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><button class="go" id="go_left">left</button></td>
                            <td>&nbsp;</td>
                            <td><button class="go" id="go_right">right</button></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><button class="go" id="go_down">down</button></td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <input type="text" class="howmuch" name="degrees" id="in_howmuch" value="1">
                    <select name="unit" id="in_units">
                        <option value="degrees">degrees</option>
                        <option value="steps">steps</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="panel">
            <form>
                <table>
                    <tr>
                        <td>
                            <select name="dir1" id="in_dir1">
                                <option value="1">up</option>
                                <option value="2">down</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="howmuch" name="howmuch1" id="in_howmuch1" value="1">
                        </td>
                        <td rowspan="2">
                            <select name="unit2" id="in_units2">
                                <option value="degrees">degrees</option>
                                <option value="steps">steps</option>
                            </select>
                        </td>
                        <td rowspan="2">
                            <div><button class="go" id="go_both">go</button></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="dir2" id="in_dir2">
                                <option value="1">right</option>
                                <option value="2">left</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="howmuch" name="howmuch2" id="in_howmuch2" value="1">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2">
                            <input type="checkbox" name="isSameTime" id="in_sametime" checked><label for="in_sametime">same time</label>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="panel">
            <form>
                <div>
                    <input type="text" name="raw" id="in_raw">
                    <button class="go" id="go_raw">Raw</button>
                    <a target="_blank" href="doc/commands">?</a>
                </div>
            </form>
        </div>
        <div class="panel">
            <form>
                <!-- <a href="javascript:" class="gpio button green" id="gpio_controller_state">State</a> -->
                <a href="javascript:" class="button <%= status.gaugerConnectedStatus.toLowerCase() %>" id="gauger_connected_status">
                    <%= status.gaugerConnectedStatus %>
                </a>
                <a href="javascript:" class="gpio button <%= status.gpioEnabled ? 'magenta' : 'disabled' %>" id="gpio_controller_reset">Reset Controller</a>
                <a href="javascript:" class="gpio button <%= status.gpioEnabled ? 'magenta' : 'disabled' %>" id="gpio_gauger_reset">Reset Gauger</a>
            </form>
        </div>
        <div class="panel">
            <h3>Request</h3>
            <div id="request_output" class="output json"></div>
            <h3>Response</h3>
            <div id="response_output" class="output json"></div>
            <a href="javascript:" class="button gray" id="clear_outputs">Clear</a>
        </div>
    </div>
</body>
</html>
